<!DOCTYPE html>
<html lang="en">

<head>
    <title>Universal Soft</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/style-sistema.css">
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<body style="background: #212121;">
    <div class="casino-bg">
        <div class="header">
            <a class="user-logo-casino" href="home.php">
                <img class="img-fluid" src="images/logo.png" alt="logo"></img>
            </a> 
        </div>
        <!-- <div class="sub-header">
            <a role="button" href="#" class="btn header-btn Fsub-header1">HÍPICA</a>
            <% categories.forEach(function(c, i){ %>
                <a role="button" href="javascript:void(0);" class="btn header-btn <%=c.id%>" onclick="list_games({page:1,c:'<%=c.id%>'}); filter_brands('<%=c.id%>');" style="text-transform: uppercase;"><%=c.name%></a>
            <%});%>
            <div style="display:none;">
                <a role="button" href="#" class="btn header-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MÁS</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Muy pronto</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="flex-c-m">
                <div class="form-flat">
                    <img id="flat-img" class="img-fluid" style="width: 40px;" src="images/Banderas/es.png" alt="">
                </div>
                <select id="inputPais" class="form-control form-idioma" name="inputPais">
                    <option selected="" value="es">Es</option>
                    <option value="eu">Eng</option>
                    <option value="fran">Fran</option>
                    <option value="bra">Br</option>
                </select>
            </div>
        </div> -->
        <!-- //ejemplo -->
        <div class="sub-header no-desktop">
            
            <a role="button" href="#" id="btn-casino" class="btn header-btn active" onclick="list_games({page:1,c:'slot'}); filter_brands('slot');juegos_slot()">CASINO</a>
            <a role="button" href="#" class="btn header-btn " onclick="list_games({page:1,c:'slot_live'}); filter_brands('slot_live');juegos_slot_live()">CASINO EN VIVO</a>
            <a role="button" href="#" class="btn header-btn " onclick="list_games({page:1,c:'iq'}); filter_brands('iq');juegos_slot()">FAST GAMES</a>
            <a role="button" href="#" class="btn header-btn " onclick="list_games({page:1,c:'scratch'})">RASPA Y GANA</a>
            
            <div class="header-btn">
                <a id="juegosdeportes" role="button" href="#" class="btn nav-color " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DEPORTES</a>
                <div class="dropdown-menu drop-color scroll-provee" aria-labelledby="juegosdeportes">
                    <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=tech_sportbook&p=tnm&b=Technamin&m=wb')">TECHNAMIN</a>
                    <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=8042022&p=edg&b=Digtain Sports Book&m=wb')">DIGITAIN SPORTS</a>
                </div>
            </div>
            <!-- <div class="header-btn">
                <a id="juegosloteria" role="button" href="#" class="btn nav-color " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LOTERIA</a>
                <div class="dropdown-menu drop-color scroll-provee" aria-labelledby="juegosloteria">
                    <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=liw-LuckySix&p=ms&b=LiW&m=wb')">LiW</a>
                    <a class="dropdown-item" href="#" onclick="list_games({page:1,b:'Nsoft'}); juegos_slot()">Nsoft</a>
                </div>
            </div> -->
            <div class="header-btn">
                <a id="juegostvv" role="button" href="#" class="btn nav-color " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">JUEGOS DE TV</a>
                <div class="dropdown-menu drop-color scroll-provee" aria-labelledby="juegostvv">
                    <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=100153&p=gr&b=HollywoodTv&m=wb')">HollywoodTv</a>
                    <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=tvbet&p=tv&b=tvBet&m=wb')">TVBET</a>
                </div>
            </div>
            <!-- <a role="button" href="#" class="btn header-btn " onclick="list_games({page:1,c:'arcade'}); filter_brands('arcade');juegos_slot()">JUEGO ARCADE</a> -->
            <div class="header-btn">
                <a id="juegosvi" role="button" href="#" class="btn nav-color " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">JUEGOS VIRTUALES</a>
                <div class="dropdown-menu drop-color scroll-provee" aria-labelledby="juegosvi">
                    <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=10100&p=gr&b=GoldenRace&m=wb')">GoldenRace</a>
                    <!-- <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=kiron-table-tennis&p=ms&b=Kiron&m=wb')">Kiron</a> -->
                    <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=sportrace&p=vg&b=SportRace&m=wb')">UniversalSoft</a>
                </div>
            </div>
            <div class="header-btn">
                <a id="juegosesports" role="button" href="#" class="btn nav-color " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ESPORTS</a>
                <div class="dropdown-menu drop-color scroll-provee" aria-labelledby="juegosesports">
                    <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=sportsbookbeter&p=bt&b=Beter&m=wb')">BETER</a>
                    <!-- <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=kiron-table-tennis&p=ms&b=Kiron&m=wb')">Kiron</a> -->
                    <a class="dropdown-item" href="#" onclick="juego_simple('/initgame?user_id=<%=user_id%>&g=mobadoo&p=mb&b=Mobadoo&m=wb')">SIS-MOBADOO</a>
                </div>
            </div>
            <!--<div class="flex-c-m">
                 <div class="form-flat">
                    <img id="flat-img" class="img-fluid" style="width: 40px;" src="images/Banderas/es.png" alt="">
                </div>
                <select id="inputPais" class="form-control form-idioma" name="inputPais">
                    <option selected value="es">Es</option>
                    <option value="eu">Eng</option>
                    <option value="fran">Fran</option>
                    <option value="bra">Br</option>
                </select> 
            </div>-->
        </div>
        <!-- //fin ejemplo -->
        
        <div class="sliders-bg">
            <div class="owl-carousel">
                <div class="item">
                    <img class="img-fluid" style="height: 375px;" src="images/casino/slider3.png" atl="promo"></img>
                </div>
            </div>
            <div class="jackpot-bg">
                <div class="jackpot-div">
                    <div class="jackpot-list">
                        <span class="j-p-title">JACKPOT : </span>
                        <span class="j-p-sub">$6.623.150,25</span>
                    </div>
                    <div class="jackpot-list">
                        <div class="jackpot-img">
                            <img class="img-fluid" src="images/casino/bronz.png" alt="mini-jackpot">
                        </div>
                        <img class="img-fluid" src="images/casino/aog.png" alt="mini-jackpot" style="opacity: 0;visibility: hidden;">
                        <span class="j-p-sub">$58.251,73</span>
                    </div>
                    <div class="jackpot-list">
                        <div class="jackpot-img">
                            <img class="img-fluid" src="images/casino/plata.png" alt="mini-jackpot">
                        </div>
                        <img class="img-fluid" src="images/casino/aog.png" alt="gran-jackpot" style="opacity: 0;visibility: hidden;">
                        <span class="j-p-sub">$75.256,05 </span>
                    </div>
                    <div class="jackpot-list">
                        <div class="jackpot-img">
                            <img class="img-fluid" src="images/casino/gold.png" alt="mini-jackpot">
                        </div>
                        <img class="img-fluid" src="images/casino/aog.png" alt="mega-jackpot" style="opacity: 0;visibility: hidden;">
                        <span class="j-p-sub">$1.089.110,10</span>
                    </div>
                </div>
                <div class="jackpot-div pt-0">
                    <form id="search-form" class="search-div search-casino">
                        <input id="searchcasino" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-danger btn-search my-2 my-sm-0" type="submit">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                    <div class="jackpot-list-2">
                        <div class="toggle-button-cover">
                            <label class="label-site" for="site">ON SITE</label>
                            <div class="button r" id="button-1">
                                <input type="checkbox" class="checkbox">
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                            <label class="label-site" for="popup">POP UP</label>
                        </div>
                    </div>
                    <div class="jackpot-list-2 dropdown-toggle dropdown">
                        <a class="Fcasino1" role="button" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Todos los Juegos</a>
                        <div class="dropdown-menu drop-casino" aria-labelledby="navbarDropdown" x-placement="bottom-start">
                            <a class="dropdown-item Fcasino1" href="#">Todos Los Juegos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item Fcasino2" href="#">Raspa y Gana</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item Fcasino3" href="#">Torneo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item Fcasino4" href="#">Easter</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item Fcasino5" href="#">Nuevo Juegos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item Fcasino6" href="#">Juegos Populares</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item Fcasino7" href="#">Juegos de Mesa</a>
                            <div class="dropdown-divider"></div> <a class="dropdown-item Fcasino8" href="#">Ruleta</a>
                        </div>
                    </div>
                    
                    <div class="jackpot-list-2 dropdown-toggle"> <a class="Fcasino9" role="button" href="#"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proveedores</a>
                        <div id="brands-slc" class="dropdown-menu drop-casino scroll-provee" aria-labelledby="navbarDropdown"> 
                            <% brands.forEach(function(b){ %>
                                <a class="dropdown-item brand <%=b.id%>" onclick="list_games({page:1,b:'<%=b.id%>'})">
                                    <%=b.name%>
                                </a>
                            <%}); %>
                        </div>
                    </div>
                    <div class="jackpot-list-2"> <a role="button" href="#" class="Fcasino10">Favoritos</a><i
                            class="fas fa-heart icon-heart color-red"></i> </div>
                </div>
            </div>
        </div>
        <section class="body-casino">
            <div class="row no-gutters pt-3">
                <div class="col-12">
                    <p class="title-casino">Juegos Populares</p>
                </div>
            </div>
            <div id="game-list">
            
            </div>
        </section>
        <section id="games-single" class="body-casino pt-1">
            <iframe class="my-iflame" src="#" frameborder="0"></iframe>
        </section>
    </div>
    <div class="modal-slot">
        <div class="body-slot">
            <button class="btn btn-danger btn-programs modal-prog"><i class="fas fa-times" aria-hidden="true"></i></button>
            
        </div>
    </div>
  
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <div class="espere-logo"><img class="img-fluid" src="images/espere.gif" alt=""></div>
        <!-- <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg> -->
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/mystyles.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    const env = '<%=env%>';
    const user_id='<%=user_id%>';
    function isMobileDevice() {
        return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
    }

    const brand_list = JSON.parse('<%=JSON.stringify(brands)%>'.replace(/&#34;/g,'"'));
    const endpoint = '<%=endpoint%>';
    const $grid = $("#game-list");
    var $listGames = [];
    var game_filters = {page:1 };
    var list_game_is_total = false;
    $('#btn-casino').trigger('click');
    

    $(document).ready(function() {
      list_games({c:'slot'});
      $("#search-form").submit(function(e){
        e.preventDefault();
        var name = $("#search-form input").val();
        list_games({page:1,g:name});
      });
    });
    // $("#searchcasino").on("keyup", function() {

    //     var patron = $(this).val();

    //     // si el campo está vacío
    //     if (patron === "") {

    //     $(".col-item.img-grande").removeClass("sm")
    //     $(".col-item.img-grande").addClass("lg")
    //     $(".game_inner.img-grande").removeClass("game-sm")
    //     $(".game_inner.img-grande").addClass("game-lg")
    //     // mostrar todos los elementos
    //     $(".col-item").show();  

    //     // si tiene valores, realizar la búsqueda
    //     } else {
        
    //         $(".col-item").css("display", "none");
    //         $(".col-item").removeClass("lg")
    //         $(".col-item").addClass("sm")
    //         $(".game_inner").removeClass("game-lg")
    //         $(".game_inner").addClass("game-sm")

    //     // atravesar la lista
    //     $(".col-item").each(function() {
    //         if ($(this).find(".game_title p").html().toUpperCase().indexOf(patron.toUpperCase()) < 0) {
    //         // si el texto NO contiene el patrón de búsqueda, esconde el elemento
    //         $(this).hide();
    //         } else {
    //         // si el texto SÍ contiene el patrón de búsqueda, muestra el elemento
    //         $(this).show();
    //         }

    //     });
    //     }

    // });


    function list_games(params){
    
        if(params != undefined) game_filters = params;
        //slotmatic para testing
        if('b' in params && /Quickspin|Playtech|Microgaming|IGT/.test(params.b)) delete game_filters.m;
        //else if('b' in params && /Novomatic/.test(params.b)) game_filters.m="mb";
        else if('g' in params) delete game_filters.m;
        else  game_filters.m = isMobileDevice()?'mb':'wb';

        game_filters.env = env;

        $.ajax({
            url: "/gamelist",
            type: "GET",
            contentType: "application/json",
            data: game_filters,
            error: (a, b, c) => { console.log(a, b, c);},
            success: function(data) {
                list_game_is_total = data.pagination.isTotal;
                if(game_filters.page==1) $grid.html("");
                printItems(data);
                if(data.games.length==1 || ( data.games.length==2 && data.games[0].name == data.games[1].name ) ){
                    $a=$("#game-list").find(">div a");
                    var href=$a.attr("href");
                    window.open(href,"_self");
                    //$a.trigger("click");
                    // $("#game-list").find(">div a")[0].trigger("click");
                }
            }
        });
    }

    function printItems(data) {
        console.log("Data games ",JSON.stringify(data));
        var ys_cont = 0;
        var ys_inc = 6;

        let li = "";
        data.games.forEach( (e,i)=> {
            var tk1 = i;
            var ys_tam ="sm";
            if(tk1==0 || ys_cont == ys_inc ){
                ys_tam  = "sm";
                ys_inc  = (ys_inc == 16 ? 6 : 16);
                ys_cont = 0;
            }
            ys_cont++;

            li += game_template(i, "/initgame?user_id="+user_id+"&g="+e.id+"&p="+e.p+"&b="+e.b+"&m="+e.m, e.img, e.g, e.p, e.b,e.c, e.id,
            e.m == "mb" ? `<span class='mobile-demo'>MOBILE</span>` : ""
            ,ys_tam);
        });
        $listGames = $listGames.concat($(li).toArray());
        $grid.append(li);
    }

    function game_template(index, href,urlImage, nameImage,provider,brand,category,id,mod,ys_tam) {
        let image_url ;
        let enviroment = env =='reprod' ? 1:0;
        // let index_https =  urlImage.indexOf('https');
        // if(index_https!=-1) image_url = urlImage ;
        image_url = "https://d2zzz5z45zl95g.cloudfront.net/us_img_games/"+category+"_"+brand+"_"+enviroment+"_"+id+".png" ;
        let div = `<div data-key="${index}" class="col-item ${ys_tam}" title="${nameImage}">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="game_inner game-${ys_tam}" style="background-image:url(${image_url})">
                        <div class="fav_holder">
                            <div class="like-game"> 
                                <i class="far fa-heart"></i>
                                <i class="fas fa-heart" style="display:none;"></i> 
                            </div>
                        </div>
                        <div class="game_overlay" onclick="abrir_modal('${href}')">
                            <div class="play">
                                <div class="circle-play"></div>
                                <a> <i class="fas fa-play"></i> </a> 
                            </div>
                            <div class="game_title"> 
                                <img class="img-fluid" src="images/casino/providers/${brand}.png" alt="" />
                                <p class="name-casino" style="top: -24px;opacity: 1;visibility: visible;">${nameImage}</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ${mod}
        </div>`;
        return div;
    }

    function abrir_modal(href){
        href +=`&env=${env}`; 
        const modal_tag = '.modal-slot';
        $(modal_tag).toggleClass('active');
        if( $(modal_tag).find("iframe").length ) $(modal_tag).find("iframe").remove();
        $(modal_tag).find('.body-slot').append(`<iframe src="${href}" frameborder="0" style="flex: 1 1 0%; width: 100%; height: 100%;"></iframe>`);
       
    }
    $('.modal-prog').click(function(e){
        const modal_tag = '.modal-slot';
        $(modal_tag).toggleClass('active');
        $(modal_tag).find("iframe").remove();
    });

    function filter_brands(category_id){
        html_brands(category_id);
        $("#all_games").html(category_id);
    }
    function html_brands(category){
        $("#brands-slc").html("");
        let brands= brand_list;
        if(category!=undefined){ brands = brand_list.filter( e => e.category == category ); }
        //if(brands.length==2) { brands.push( brands[0]); brands.push( brands[1]); }
        brands.map(e=>{ $("#brands-slc").append( template_brand(e));});  
    }
    function template_brand(b){
        return `<a class="dropdown-item brand ${b.id}" onclick="list_games({page:1,b:'${b.id}'})">${b.name}</a>`;
    }

    $(".header-btn").hover(function(e){
        e.preventDefault();
        var tipo = e.type;
        $(this).addClass(tipo);
    }, function(){
        $('.header-btn').removeClass('mouseenter');
    })

    function juego_simple(url){
        url +=`&env=${env}`; 
        $(".sliders-bg").hide();
        $(".body-casino").hide();
        $(".banner_section").hide();
        $("#games-single").show();
        if( $("#games-single").find("iframe").length ) $("#games-single").find("iframe").remove();
        $("#games-single").append(`<iframe src="${url}" class="my-iflame" frameborder="0"></iframe>`);
    }
    
    function juegos_slot(){
        $(".sliders-bg").show();
        $(".body-casino").show();
        $(".banner_section").show();
        $("#games-single").hide();
        if( $("#games-single").find("iframe").length ) $("#games-single").find("iframe").remove();
    }
    function juegos_slot_live(){
        $(".sliders-bg").show();
        $(".body-casino").show();
        $(".banner_section").show();
        $("#games-single").hide();
        if( $("#games-single").find("iframe").length ) $("#games-single").find("iframe").remove();
    }

    </script>
</body>

</html>