<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Universal Race</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/style-movil.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.css" id="theme-styles">
  </head>
  <body class="body-bg1">

    <div class="header">
        <a href="home.php"><img class="img-fluid" src="images/logo.png" alt="logo"></img></a>
        <!-- <a class="whatsapp-icon" target="blank" href="https://wa.me/51987592623"><i class="fab fa-whatsapp"></i></a>
        <div class="user-div" data-toggle="modal" data-target="#user-perfil">
            <i class="far fa-user"></i>
            <span class="money-user">10.63 PEN</span>
        </div> -->
    </div>

    <div class="bar-top">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="owl-carousel carousel1">
            <div class="item">
              <div class="bar-top-border">
                <a class="no-decoration" href="home.php">
                    <img class="img-fluid img-bar-top" src="images/iconos/caballo.png" alt="">
                    <p class="bar-top-p">HIPICA</p>
                </a>
              </div>
            </div>
            <% categories.forEach(function(c, i){ %>
                <div class="item">
                    <div class="bar-top-border" onclick="list_games({page:1,c:'<%=c.id%>'}); filter_brands('<%=c.id%>');">
                      <a class="no-decoration" href="javascript:void(0);">
                          <img class="img-fluid img-bar-top" src="images/iconos/<%=c.id%>.png" alt="">
                          <p class="bar-top-p"><%=c.name%></p>
                      </a>
                    </div>
                  </div>
                <!-- <a role="button" href="javascript:void(0);" class="btn header-btn" onclick="list_games({page:1,c:'<%=c.id%>'}); filter_brands('<%=c.id%>');" style="text-transform: uppercase;"><%=c.name%></a> -->
            <%});%>
          </div>
        </div>
      </div>
    </div>

    <div class="promo-bg">
      <div class="owl-carousel carousel2">
        <div class="item">
          <img class="img-fluid" src="images/casino/slider2.png" atl="promo">
        </div>
        <div class="item">
          <img class="img-fluid" src="images/casino/slider1.png" atl="promo">
        </div>
      </div>
    </div>

    <div class="jackpot-bg">
        

        <div class="owl-carousel carousel3">
            <div class="item">
                <div class="casino-tabs">
                    <p>All Games</p>
                </div> 
            </div>
            <div class="item">
                <div class="casino-tabs">
                    <p>Top Games</p>
                </div>
            </div>
            <div class="item">
                <div class="casino-tabs">
                    <p>NEW</p>
                </div>
            </div>
            <div class="item">
                <div class="casino-tabs">
                    <p>Booming</p>
                </div>
            </div>
            <div class="item">
                <div class="casino-tabs">
                    <p>Spinmatic</p>
                </div>
            </div>
            <div class="item">
                <div class="casino-tabs">
                    <p>WORLDMATCH</p>
                </div>
            </div>
            <div class="item">
                <div class="casino-tabs">
                    <p>ORYS</p>
                </div>
            </div>
            <div class="item">
                <div class="casino-tabs">
                    <p>SPINOMENAL</p>
                </div>
            </div>
            <div class="item">
                <div class="casino-tabs">
                    <p>FELIX GAMING</p>
                </div>
            </div>
            <div class="item">
                <div class="casino-tabs">
                    <p>1X2GAMING</p>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <form id="search-form" class="search-div search-casino">
                    <input id="searchcasino" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-danger btn-search my-2 my-sm-0" type="submit">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            <div class="col-6">
                <div class="favorito-btn">
                    <i class="far fa-heart icon-heart" aria-hidden="true"></i>
                    <span>Mostrar Favoritos</span>
                </div>
            </div>
            <div class="col-6">
                <div class="jackpot-list-2 dropdown-toggle">
                    <a role="button" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proveedores</a>
                    <div id="brands-slc" class="dropdown-menu drop-casino scroll-provee" aria-labelledby="navbarDropdown">
                        <% brands.forEach(function(b){ %>
                            <a class="dropdown-item brand <%=b.id%>" onclick="list_games({page:1,b:'<%=b.id%>'})">
                                <%=b.name%>
                            </a>
                        <%}); %>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

    <section class="home-bg pl-0 pt-0 pr-0">
        <div id="game-list" class="row no-gutters">
            
        </div> 
    </section>
    
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen">
    <div class="espere-logo"><img class="img-fluid" src="images/espere.gif" alt=""></div>
    <!-- <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg> -->
  </div>
  
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/mystyles-movil.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    const user_id='<%=user_id%>';
    
    function isMobileDevice() {
      return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
    }

    const brand_list = JSON.parse('<%=JSON.stringify(brands)%>'.replace(/&#34;/g,'"'));
    const endpoint = '<%=endpoint%>';
    const $grid = $("#game-list");
    var $listGames = [];
    var game_filters = {page:1 };
    var list_game_is_total = false;
    $('#btn-casino').trigger('click');
    
    $(document).ready(function() {
      list_games({c:'slot'});
      $("#search-form").submit(function(e){
        e.preventDefault();
        var name = $("#search-form input").val();
        list_games({page:1,g:name});
      });
    });

    function list_games(params){
    
        if(params != undefined) game_filters = params;
        //slotmatic para testing
        if('b' in params && /Quickspin|Playtech|Microgaming|IGT/.test(params.b)) delete game_filters.m;
        //else if('b' in params && /Novomatic/.test(params.b)) game_filters.m="mb";
        else if('g' in params) delete game_filters.m;
        else  game_filters.m = isMobileDevice()?'mb':'wb';


        $.ajax({
            url: "/gamelist",
            type: "GET",
            contentType: "application/json",
            data: game_filters,
            error: (a, b, c) => { console.log(a, b, c);},
            success: function(data) {
                list_game_is_total = data.pagination.isTotal;
                if(game_filters.page==1) $grid.html("");
                printItems(data);
                if(data.games.length==1 || ( data.games.length==2 && data.games[0].name == data.games[1].name ) ){
                    $a=$("#game-list").find(">div a");
                    var href=$a.attr("href");
                    window.open(href,"_self");
                    //$a.trigger("click");
                    // $("#game-list").find(">div a")[0].trigger("click");
                }
            }
        });
    }

    function printItems(data) {

        let li = "";
        data.games.forEach( (e,i)=> {
            
            var ys_tam ="sm";
            
            li += game_template(i, "/initgame?user_id="+user_id+"&g="+e.id+"&p="+e.p+"&b="+e.b+"&m="+e.m,"http://apiuniversalsoft.com/" + e.img, e.g, e.p, e.b, e.id,
            e.m == "mb" ? `<span class='mobile-demo'>MOBILE</span>` : ""
            ,ys_tam);
        });
        $listGames = $listGames.concat($(li).toArray());
        $grid.append(li);
    }

    function game_template(index, href,urlImage, nameImage,provider,brand,id,mod,ys_tam) {

       
        let div = `<div data-key="${index}" class="col-6 effect-padd">
                <div class="game_inner game-${ys_tam}" style="background-image:url(${urlImage})">
                    <div class="fav_holder">
                        <div class="like-game">
                            <i class="far fa-heart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="game_overlay">
                        <div class="play">
                            <a href="${href}" class="circle-play f-1" target="_blank">
                                <i class="fas fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="game_title">
                            <img class="img-fluid img-game" src="images/casino/providers/${brand}.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="new-text-div" >
                    <p class="title-game">${nameImage}</p>
                </div>
                ${mod}
            </div>`;

        return div;
    }

    function abrir_modal(href){
        const modal_tag = '.modal-slot';
        $(modal_tag).toggleClass('active');
        if( $(modal_tag).find("iframe").length ) $(modal_tag).find("iframe").remove();
        $(modal_tag).find('.body-slot').append(`<iframe src="${href}" frameborder="0" style="flex: 1 1 0%; width: 100%; height: 100%;"></iframe>`);
       
    }

    $('.modal-prog').click(function(e){
        const modal_tag = '.modal-slot';
        $(modal_tag).toggleClass('active');
        $(modal_tag).find("iframe").remove();
    });

    function filter_brands(category_id){
        html_brands(category_id);
        $("#all_games").html(category_id);
    }
    function html_brands(category){
        $("#brands-slc").html("");
        let brands= brand_list;
        if(category!=undefined){ brands = brand_list.filter( e => e.category == category ); }
        //if(brands.length==2) { brands.push( brands[0]); brands.push( brands[1]); }
        brands.map(e=>{ $("#brands-slc").append( template_brand(e));});  
    }
    function template_brand(b){
        return `<a class="dropdown-item brand ${b.id}" onclick="list_games({page:1,b:'${b.id}'})">${b.name}</a>`;
    }

    function juego_simple(url){
        $(".sliders-bg").hide();
        $(".body-casino").hide();
        $(".banner_section").hide();
        $("#games-single").show();
        if( $("#games-single").find("iframe").length ) $("#games-single").find("iframe").remove();
        $("#games-single").append(`<iframe src="${url}" class="my-iflame" frameborder="0"></iframe>`);
    }
    
    function juegos_slot(){
        $(".sliders-bg").show();
        $(".body-casino").show();
        $(".banner_section").show();
        $("#games-single").hide();
        if( $("#games-single").find("iframe").length ) $("#games-single").find("iframe").remove();
    }

    </script>
  </body>
</html>