<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
  </head>
  <body>
    <header>
      <ul class="sidenav" id="mobile-demo">
        <li class="item filter" onclick="list_games({page:1}); filter_brands();">Todos</li>
            <% categories.forEach(function(c){ %>
              <li class="item filter" onclick="list_games({page:1,c:'<%=c.id%>'}); filter_brands('<%=c.id%>');" ><%=c.name%></li>
          <%});%>
      </ul>
      <nav>
        <div class="nav-wrapper black">
          <a href="#" class="brand-logo">UniversalSoft Gaming</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger text-white" ><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="item filter" onclick="list_games({page:1}); filter_brands();">Todos</li>
            <% categories.forEach(function(c){ %>
              <li class="item filter" onclick="list_games({page:1,c:'<%=c.id%>'}); filter_brands('<%=c.id%>');" ><%=c.name%></li>
            <%});%>
          </ul>
        </div>
      </nav>
    </header>
    <section>
      <div class="carousel carousel-slider video">
        <a class="carousel-item video-carrousel">
          <video src="/assets/sliders/Bingo.mp4" loop autoplay class="responsive-video" ></video>
        </a>
        <a class="carousel-item video-carrousel">
          <video src="/assets/sliders/Caballos.mp4" autoplay loop class="responsive-video"></video>
        </a>
        <a class="carousel-item video-carrousel">
          <video src="/assets/sliders/Casino en vivo.mp4" loop autoplay class="responsive-video"></video>
        </a>
        <a class="carousel-item video-carrousel">
          <video src="/assets/sliders/Casino Slots.mp4" loop autoplay class="responsive-video"></video>
        </a>
        <a class="carousel-item video-carrousel">
          <video src="/assets/sliders/Deportes Virtuales.mp4" loop autoplay class="responsive-video" ></video>
        </a>
        <a class="carousel-item video-carrousel">
          <video src="/assets/sliders/Juegos de TV.mp4" loop autoplay class="responsive-video"></video>
        </a>
        <a class="carousel-item video-carrousel">
          <video src="/assets/sliders/Poker.mp4" loop autoplay class="responsive-video" ></video>
        </a>
      </div>
      <div class="row">
        <div class="providers col s12 m8 push-m2">
          <div class="carousel list-providers">
           <% brands.forEach(function(b){ %>
            <a class="carousel-item logo brand <%=b.id%>" onclick="list_games({page:1,b:'<%=b.id%>'})">
              <img title=${name} src="<%=endpoint+'/'+b.img%>" alt="<%=b.name%>"/>
              </a>
           <%}); %>
          </div>
        </div>
      </div>
    </section>
    <p style="color:white;">Games: <span id="total"></span> <input type="hidden" id="valArray" value="<%=l.length%>" />  <a href="javascript:void(0);" onclick="list_games({page:1})">Listar Todos</a> </p>
    
    <ul class="grid"></ul>
    <p style="text-align: center;">
      <button class="view-more-button">Cargar Mas Juegos</button>
    </p>
  </body>
  <script src="/js/jquery.js"></script>
  <script src="/js/imagesLoaded.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/infiniteScroll.js"></script>
  <script>
    const brand_list = JSON.parse('<%=JSON.stringify(brands)%>'.replace(/&#34;/g,'"'));
    const endpoint = '<%=endpoint%>';
    const $grid = $(".grid");
    const $list = $("#list-carousel");
    const $load = $(".load");
    var isLoading = true;
    var $listGames = [];
    var $listLogo;
    var game_filters = {page:1};
    var list_game_is_total = false;
    var $carousel;
    
    $(document).ready(function() {
      init();
      $(".sidenav").sidenav();
      $('.carousel').carousel();
      //$carrousel.carousel({ numVisible: 6, padding: 20 });
      list_games();
      events();
    });

    function filter_brands(category_id){
      $('.carousel.list-providers').carousel("destroy");
      html_brands(category_id);
      $('.carousel.list-providers').carousel({ numVisible: 6, padding: 20 });
    }

    function list_games(params){
      if(params != undefined) game_filters = params;
      $.ajax({
          url: "/gamelist",
          type: "GET",
          contentType: "application/json",
          data: game_filters,
          error: (a, b, c) => { console.log(a, b, c);},
          success: function(data) {
            list_game_is_total = data.pagination.isTotal;
            if(game_filters.page==1) $grid.html("");
            printItems(data);
          }
        });
    }

    function events() {
      $(".view-more-button").on("click", function() {
        if( list_game_is_total ) { alert("ya no hay mas juegos"); return;}
        game_filters.page++;
        list_games();
      });
      $(".carousel.carousel-slider").carousel({ fullWidth: true, indicators: true});
      setInterval(function() { $(".carousel.carousel-slider").carousel("next"); }, 7000);
  
    }

    function initGame(game) {
      if ( window.confirm("Desea abrir el juego " +$(game).find("a").attr("title"))) {
        window.open($(game).find("a").attr("href"),"_blank");
      }
    }

    function init() {
      $listLogo = $("a.logo").toArray();
    }
    function printItems(data) {
      let li = "";
      data.games.forEach(e => {
        li += templateGames( "/initgame?g="+e.id+"&p="+e.p+"&b="+e.b+"&m="+e.m,"http://apiuniversalsoft.com/" + e.img, e.g, e.p, e.b, e.id,
          e.m == "mb" ? `<span class='mobile-demo'>MOBILE</span>` : ""
        );
      });
      $listGames = $listGames.concat($(li).toArray());
      $grid.append(li);
    }

    function templateGames(href,urlImage, nameImage,provider,brand,id,mod) {
      let li = `<li class="grid-item is-loading ${provider} ${brand}" data-name="${provider}" data-brand="${brand}">
        <p data-id=${id} style="display:none"></p>
        ${mod}
                  <a href="${href}" title="${nameImage}" target="${
        provider == "sl" ? "_blank" : "_self"
      }">
                    <img src="${urlImage}" name="${nameImage}" alt="${nameImage}">
                    </a>
                  </li>`;
      return li;
    }

    function html_brands(category){
      $(".list-providers").html("");
      let brands= brand_list;
      if(category!=undefined){
         brands = brand_list.filter( e => e.category == category );
      }
      if(brands.length==2) { brands.push( brands[0]); brands.push( brands[1]); }
      brands.map(e=>{ $(".list-providers").append( template_brand(e));});
    }
    function template_brand(b){
      return `<a class="carousel-item logo brand ${b.id}" onclick="list_games({page:1,b:'${b.id}'})">
              <img title=${b.name} src="${endpoint}+'/'${b.img}" alt="${b.name}"/>
              </a>`;
    }
  </script>
</html>
