<!DOCTYPE html>
<html lang="en">

<head>
    <title>Universal Soft</title>
    <meta charset="utf-8">
    <!--link rel="manifest" href="manifest.json" /-->
    <link rel="apple-touch-icon" href="images/icons/icon-72x72.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-96x96.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-128x128.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-144x144.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-384x384.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#db4938" />
    <meta name="theme-color" content="#db4938" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    
</head>

<body style="background: #212121;">
    <div style=" padding: 10px; "> USER:  <span style="background:#fafafa; padding:5px;"><%=user.username%></span> <span style="background:#fafafa; padding:5px;"><%=user.id%></span>, BALANCE: <span style="background:#fafafa; padding:5px;"><%=user.currency%> <%=user.balance%> </span>  </div>
    <iframe src="<%=lobby_url%>" style="width:100%; height: 90vh; border:0"></iframe>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--script src="js/app.js"></script-->
    <script>
    const env = '<%=env%>';
    console.log('user', '<%=user%>');
    </script>
</body>

</html>