<!DOCTYPE html>
<html>

<head>
  <title>Universal Soft</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.timepicker.css">
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/style-sistema.css">
  <style>
    .game_inner .game_overlay {
      display: block;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    td,
    th {
      padding: 5px;
    }
  </style>
</head>

<body>
  <div style="font-size: xx-large;text-align: center;font-weight: bold">
    <label>Generar Reporte</label>
  </div>
  <hr>

  <!--- start index.ejs -->
  <form name="form1" action="reporterbyprov" method="POST">
    <div class="form-group" align="center"
      style="line-height: 250%;margin: 20px; color: navy; font-weight: bold; font-size: 25px;">
      <label>Movimiento:</label>
      <select name="movement">
        <option value="all" selected>Todos</option>
        <option value="BET">BET</option>
        <option value="WIN">WIN</option>
        <option value="REFUND">REFUND</option>
      </select>

      <label>Proveedores:</label>
      <select name="provider">
        <% providers.forEach(p=>{ %>
          <option value="<%=p.provider%>">
            <%=p.provider%>
          </option>
          <%});%>
      </select>
      <label>Fecha de Inicio:</label>
      <input type="date" name="date_init" value="<%-today%>" required>
      <br>
      <label>Fecha de Fin:</label>
      <input type="date" name="date_end" value="" required>
      <br>
      <label>Mostrar :</label>
      <input type="radio" name="show_type" id="cbox2" value="details"  checked="checked"/> Detalles
      <input type="radio" name="show_type" id="cbox1" value="total"> Total ( <span style="color: red; font-family: 'Consolas', monospace;">se va ignorar el valor de Movimiento</span>)
    </div>
    <div align="center" style="line-height: 250%; color: red;font-size: 20px;">
      <label for="">Ingresar la Password:</label>
      <input id="password" placeholder="Ingrese su password" type="password" name="password" value="" required>
      <button type="submit" id="auto" class="btn btn-primary" onclick="show()">Generar Reporte</button>
    </div>
  </form>
  <% if(reporter.length> 0){ %>
    <div>
      <table class="striped highlight" align="center">
        <thead style="background:#333;color:white;">
          <th>Negocio</th>
          <th>Movimiento</th>
          <th>Moneda</th>
          <th>Estado</th>
          <th>Cantidad</th>
        </thead>
        <tbody>
          <% reporter.forEach(r=>{ %>
            <tr>
              <td>
                <%=r.businessname?r.businessname:'----'%>
              </td>
              <td>
                <%=r.movement?r.movement:'----'%>
              </td>
              <td>
                <%=r.currency?r.currency:'----'%>
              </td>
              <td>
                <%=r.status?r.status:'----'%>
              </td>
              <td align="rigth">
                <%=r.amount.toFixed(2)%>
              </td>
            </tr>
            <%});%>
        </tbody>
      </table>
    </div>
    <% } %>


      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
    // setTimeout(() => { location.reload(); }, 10 * 1000);
      </script>
</body>

</html>