<!DOCTYPE html>
<html>

<head>
  <title>Universal Soft</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.timepicker.css">
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/style-sistema.css">
  <style>
    .game_inner .game_overlay {
      display: block;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    td,
    th {
      padding: 5px;
    }
  </style>
</head>

<body>
  <div style="display:flex;flex-direction:row; align-items: flex-end;">
    <div>
      <h1 style="margin:0">Generar Reporte</h1>
    </div>
    <div style="padding:10px">
    </div>
  </div>
  <hr>

  <!--- start index.ejs -->
  <form name="form1" action="reporter" method="POST">
    <div class="form-group">
      <label>Movimiento:</label>
      <select name="movement">
        <option value="todos" selected>Todos</option>
        <option value="BET">BET</option>
        <option value="WIN">WIN</option>
      </select>
      <label>Moneda:</label>
      <select name="currency">
        <option value="todos" selected>Todos</option>
        <option value="PEN">PEN</option>
        <option value="CLP">CLP</option>
        <option value="USD">USD</option>
      </select>
      <label>Proveedores:</label>
      <select name="provider">
        <option value="ls">Lucky Spin</option>
        <option value="eb">EventBet</option>
        <option value="tv">TvBet</option>
        <option value="ho">Horse</option>
        <option value="dg">Digtain</option>
        <option value="ms">MrSlotty</option>
        <option value="gr">GoldenRace</option>
        <option value="pg">Pragmatic</option>
        <option value="ps">Playson</option>
        <option value="mb">Mobadoo</option>
      </select>
      <label>Fecha de Inicio:</label>
      <input type="date" name="date_init" value="" required>
      <label>Fecha de Fin:</label>
      <input type="date" name="date_end" value="" required>
    </div>
    <label for="">Ingresar la Password:</label>
    <input type="password" name="pass" value="" required>
    <button type="submit" class="btn btn-primary">Generar Reporte</button>
  </form>
  <hr>
  <table class="striped highlight">
    <thead style="background:#333;color:white;">
      <th>Cliente Nombre</th>
      <th>Movimiento</th>
      <th>Moneda</th>
      <th>Estado</th>
      <th>Nombre de Usuario</th>
      <th>Monto en la BD</th>
      <th>Date</th>
    </thead>
    <tbody>
      <% reporters.forEach(t=>{ %>
        <tr>
          <td><%=t.businessname%></td>
          <td style="color:<%=t.movement=='BET'?'red':'#000'%>" ><i class="material-icons"><%=t.movement=='BET'?'':''%></i><%=t.movement%></td>
          <td><%=t.currency%></td>
          <td><%=t.status%></td>
          <td>
            <form name="form2" action="reporterbyuser" method="POST">
              <input type="text" name="movement" value="<%=t.movement%>" style="display: none;">
              <label for=""><%=t.username%></label>
              <button type="submit" name="userid" value="<%=t.id%>" class="btn btn-primary">Ver mas</button>
            </form>
          </td>
          <td><%=t.Monto.toFixed(2)%></td>
          <td><%=t.date%></td>
        </tr>
      <%});%>
    </tbody>
  </table>
  <hr>
  <strong>Total BET:  <%=totalBET.toFixed(2)%></strong>
  <hr>
  <strong>Total WIN:  <%=totalWIN.toFixed(2)%></strong>
  <hr>
  <strong>Total BET - WIN:  <%=total.toFixed(2)%></strong>
  <hr>
  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    // setTimeout(() => { location.reload(); }, 10 * 1000);
  </script>
</body>

</html>