<!DOCTYPE html>
<html>

<head>
  <title>Universal Soft</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.timepicker.css">
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/style-sistema.css">
  <style>
    .game_inner .game_overlay {
      display: block;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    td,
    th {
      padding: 5px;
    }
  </style>
</head>

<body>
  <div style="display:flex;flex-direction:row; align-items: flex-end;">
    <div>
      <h1 style="margin:0">Reporte por Usuario:</h1>
    </div>
    <div style="padding:10px">
    </div>
  </div>
  <!-- Regresar a la vista de Reporte -->
  <table class="table">
    <thead >
      <tr>
        <th scope="col">Cliente Nombre</th>
        <th scope="col">Movimiento</th>
        <th scope="col">Moneda</th>
        <th scope="col">Estado</th>
        <th scope="col">Monto BD</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(t=>{ %>
        <tr>
          <th scope="row"><%=t.businessname%></th>
          <td style="color:<%=t.movement=='BET'?'red':'#000'%>" ><i class="material-icons"><%=t.movement=='BET'?'':''%></i><%=t.movement%></td>
          <td><%=t.currency%></td>
          <td><%=t.usernam%></td>
          <td><%=t.status%></td>
          <td><%=t.amount.toFixed(2)%></td>
          <td><%=t.date%></td>
        </tr>
      <%});%>
    </tbody>
  </table>
  <strong>Total: <%=total.toFixed(2)%> </strong>
  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    // setTimeout(() => { location.reload(); }, 10 * 1000);
  </script>
</body>

</html>