
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
        td, th{
          padding:5px;
        }
      </style>
    </head>

    <body>
      <div style="display:flex;flex-direction:row; align-items: flex-end;">
        <div><h1 style="margin:0">Transactions</h1></div>
        <div style="padding:20px">User: <span><%=user.username%></span>, Balance: <span style="background:#fafafa;border:1px solid #ccc;padding:5px; border-radius: 10px;"><%=user.balance%></span> </div>
        <div style="padding:10px">
          <form method="GET" action="/credit">
            <div style="display:flex;flex-direction:row; align-items: flex-start;">
              <div class="row" style="width:50px; margin:0">
                <input type="hidden" name="user_id" value="<%=user.id%>"  />
                <input name="credit" style="text-align: center;"/>  
             </div>
            <div style="padding-top:10px"><button class="waves-effect waves-light btn-small">Add</button> </div>
            </div>
          </form>
        </div>
        
      </div>
      
            
      <table class="striped highlight">
        <thead style="background:#333;color:white;">
          <th>ID</th>
          <th>Date</th>
          <th>trxid</th>
          <th>reference</th>
          <th>movement</th>
          <th>amount</th>
          <th>gameid</th>
          <th>name</th>
          <th>userid</th>
        </thead>
        <tbody>
          <% list.forEach(function(t,i){ %>
            <tr>
              <td><%=t.id%></td>
              <td><%=`${t.reg_date.getFullYear()}-${t.reg_date.getMonth()}-${t.reg_date.getDate()}`%> <span style="padding:5px; background:#ccc; box-shadow: 1px 1px 3px #ccc;"><%=`${t.reg_date.getHours()}:${t.reg_date.getMinutes()}:${t.reg_date.getSeconds()}`%></span> </td>
              <td><%=t.trxid%></td>
              <td><%=t.referenceBet%></td>
              <td style="color:<%=t.movement=='BET'?'red':'#000'%>" ><i class="material-icons"><%=t.movement=='BET'?'arrow_downward':'arrow_upward'%></i><%=t.movement%></td>
              <td style="text-align: right;"><%=t.amount%></td>
              <td style="text-align: center;"><%=t.gameid%></td>
              <td><%=t.game_name%></td>
              <td><%=t.user_id%></td>
            </tr>
          <%});%>
        </tbody>
      </table>
      <ul class="pagination">
        <% pages.forEach(function(p){ %>
          <li  class= "<%=page==p?'active':'"waves-effect'%>"  ><a href="?page=<%=p%>"><%=p%></a></li>
        <%});%>
      </ul>
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
        setTimeout(()=>{location.reload();},10*1000);
      </script>
    </body>
  </html>
        