<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>xx</title>
    <style>
      body,
      html {
        margin: 0;
        height: 100%;
      }
      iframe {
        display: block;
        width: 100%;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <iframe
      src="<%=url%>"
      frameborder="0"
    ></iframe>
  </body>
</html>
