li.grid-item {
  height: 90px;
  width: 120px;
  display: block;
  list-style: none;
  margin: 0 5px 5px 0;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: transform 1s ease;
}

div.primary {
  height: 600px;
  width: 100%;
  background-image: url("../assets/Slider.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
div.list {
  width: 100%;
  overflow-x: hidden;
}
.list-providers {
  display: flex;
  height: 100% !important ;
  margin: 0.5rem;
  padding: 0.5rem;
}
.selected {
  background-color: #666 !important;
}
.list-providers > a.logo {
  height: 6rem;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 2px rgba(32, 32, 32, 0.75);
  cursor: pointer;
  margin: 0.3rem;
}

h2.title {
  text-align: center;
  color: white;
}
h2.title > span {
  border: solid 2px white;
  padding: 0.3rem;
  font-size: 1rem;
}

.flex {
  display: flex;
}

li.item {
  text-align: center;
  cursor: pointer;
  text-align: center;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
body {
  background-color: black;
  position: relative;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grid-item {
    width: 200px !important;
  }
}

li img {
  display: block;
  width: 100%;
  max-height: 100%;
  height: 100%;
}
span.mobile-demo {
  position: absolute;
  background: red;
  width: 100px;
  text-align: center;
  left: -30px;
  top: 13px;
  transform: rotate(-34deg);
  color:white;
  font-size:10px;
  font-weight: bold;
}
.video {
  height: 700px !important;
}
.video > .video-carrousel {
  height: 100%;
}
ul.grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}
.infinite-scroll-request {
  background-image: url("../assets/loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
}
.page-load-status {
  color: white;
}
button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #ccc;
  border: none;
  cursor: pointer;
}

li.is-broken {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/broken.png");
  background-color: #be3730;
}
div.load {
  width: 50px;
  height: 50px;
  z-index: 200;
  position: absolute;
  left: -10%;
  background-repeat: no-repeat;
}
.is-loading {
  background-color: black;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/loading.gif");
}

div.carrousel {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

div.back,
div.next {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 22px;
  position: absolute;
  background-color: #f1f1f1;
  -webkit-box-shadow: -5px 0px 5px 0px rgba(32, 32, 32, 0.75);
  -moz-box-shadow: -5px 0px 5px 0px rgba(32, 32, 32, 0.75);
  box-shadow: -5px 0px 5px 0px rgba(32, 32, 32, 0.75);
}
div.providers {
  width: 900px;
  margin: 0 auto;
  height: 200px;
}

div.back {
  left: -5%;
}

div.next {
  right: -10%;
}
.round {
  border-radius: 50%;
}
.round:hover {
  background-color: #ddd;
}
li:hover:not(.logo) {
  transform: scale(1.2);
  z-index: 100 !important;
}
section.ui-content {
  background-color: black !important;
}

.carousel.list-providers .carousel-item{
  text-align: center;
  background: #333;
  color:white;
}