html,body{
    margin:0;
    padding: 0;
    font-family: arial,sans-serif;
}

:root {
    --color-red: #ed3234;
    --color-blue: blue;
  }

  .color-red{
      color: var(--color-red);
  }
.bg-fondo{
    height: 100vh;
    background: url("../images/bg-fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 0 0;
    align-items: stretch;
    justify-items: stretch;
    position: relative;
}

.body-margin{
    padding-top: 0;
    padding: 0.5rem 1rem;
}
.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-icon-w{
    width: 20%;
}
.user-icon-img{
    width: 20%;
    margin-right: 5px;
}
.user-logo{
    width: 10%;
}
.user-logo-casino{
    width: 30%;
}
.user-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    padding: 0.5rem;
    width: 25%;
    cursor: pointer
}
.input-group-prepend {
    user-select: none;
}
.user-icons.active{
    color:var(--color-red);
    fill:var(--color-red);
    border: 1px solid var(--color-red);
}
.user-icons.active .img-svg{
    fill:var(--color-red);
}
.user-icons span{
    font-size: 10px;
}
.user-icons .img-svg{
    width: 25px;
}
.user-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #424242;
    width: 50%;
}

.user-btn{
    font-size: 12px!important;
    background: transparent!important;
    border: 1px solid white!important;
    color: white!important;
}
.user-btn-de{
    font-size: 12px!important;
    background: #009e00!important;
    border: 1px solid #009e00!important;
    color: white!important;
    width: 100%;
    padding: .375rem;
}
.ma-5{
    margin: 0 5px;
}
.user-wi1{
    width: 25%;
    color: white;
    text-align: center;
    font-size: 12px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.user-wi2{
    width: 25%;
    margin: 5px;
}
.user-wi3{
    width: 30%;
    margin: 5px;
}
.user-wi4{
    width: 10%;
}
.user-wi5{
    width: 5%;
}
.user-wi6{
    width: 10%;
}
.user-saldo{
    background: white!important;
    border: none!important;
    font-size: 14px!important;
    padding: .375rem!important;
}
.user-saldo-cash{
    border-top-right-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
    font-weight: bold;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    padding: .375rem 0!important;
}
.user-nav{
    width: 100%;
    background: var(--color-red);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-a-user{
    color:white;
    text-decoration: none!important;
    font-size: 12px;
}
.nav-a-user:hover{
    color:white;
    text-decoration: none!important;
}
.sub-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dedede;
}
.header-btn {
    width: 100%;
    border: 1px solid #4a4a4a;
    border-radius: 0px!important;
    border-bottom: 0;
    border-top: 0;
    background: #242424;
    color: #d5d5d5;
    font-weight: bold;
    position: relative;
    font-size: 14px;
}
.header-btn:hover , .header-btn.active{
    box-shadow: inset 0px -8px 9px -8px #565656, inset 0px 4px 10px -7px black;
    background: var(--color-red);
    color: #fff;
}
.header-btn.active::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: 7px solid #dedede;
    transform: rotate(90deg);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    bottom: 0;
    left: calc(50% - 5px);
}
input[type="search" i]:focus {
    outline: 0;
    box-shadow: none!important;
    border-color:#4a4a4a!important;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.flex-c-m {
    padding: 0 0.5rem;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    background: #242424;
    color: #585858;
}
.form-idioma{
    border: 0px;
    padding: 0!important;
    font-size: 14px;
    line-height: 1;
    height: calc(2rem + 0px)!important;
    background: transparent!important;
    color: white!important;
}
.form-idioma option{
    background: #242424;
}
/* .flex-c-m:hover{
    box-shadow: inset 0px -8px 9px -8px #565656, inset 0px 4px 10px -7px black;
    background: #efefef;
} */
.form-idioma:focus{
    border:0;
    box-shadow: none;
}
/* home ................................................................................ */
.apuestas-bg{
    height: 100%;
    overflow: hidden;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.bar-top-2{
    background: #f6f6f6;
}
.bar-top-border-2 {
    padding: 0.5rem 0;
    text-align: center;
    border-right: 1px solid #b2b2b2;
    background: #585858;
    overflow: hidden;
    position: relative;
}
.bar-top-border-2.active {
    background-color: #fe0000;
}
.bar-top-border-2.lazo-new::before {
    content: "NEW";
    background: var(--color-red);
    width: 60px;
    height: auto;
    position: absolute;
    right: -15px;
    top: 6px;
    font-size: 10px;
    font-weight: 900;
    color: white;
    transform: rotate(45deg);
}
.bar-top-border-2.lazo-soon::before {
    content: "SOON";
    background: #10a19a;
    width: 60px;
    height: auto;
    position: absolute;
    right: -15px;
    top: 6px;
    font-size: 10px;
    font-weight: 900;
    color: white;
    transform: rotate(45deg);
}
.img-bar-top-2 {
    width: 40px;
    height: 25px;
    margin-top: 5px;
}
.img-bar-top-3 {
    width: 30px;
    height: 30px;
    margin: 0;
}
.search-div{
    text-align: center;
    position: relative;
    margin-top:10px;
}
.btn-search {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0!important;
    margin-bottom: 0!important;
    z-index: 1;
    border-color: #4a4a4a;
    color: #ffffff;
    background: linear-gradient(180deg,#4a4a4a,#313131);
}
.div-hipodromo {
    background: #dcdcdc;
    padding: 1rem;
    padding-top: 0;
    margin-top: 5px;
    border-radius: 10px
}
.scroll-hipo{
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}
.card {
    background: gainsboro!important;
    border: none!important;
}
.flex-space-hipo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.3rem .5rem;
    background: #fff;
    border: 1px solid #cacaca;
    color: black;
    border-left-color: #767676;
    border-right-color: #767676;
    border-top: 0;
}
.flex-space-hipo.active{
    background: var(--color-red);
    color: white;
}
.text-justify-hipo {
    text-align: justify;
    padding-left: 0.5rem;
    width: 50%;
    border-right: 1px solid #cacaca;
}
.hipo-sp{
    margin:0;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.hipo-sp2 {
    margin: 0;
    font-size: 14px;
    display: block;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.hipo-sp3 {
    margin: 0;
    font-size: 12px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.time-line{
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    border: 2px solid rgb(102, 102, 102);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.time-line::before{
    content: "";
    background: green;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.w-20-timeline{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    border-right: 1px solid #cacaca;
}
.effect-bell{
    transform: rotate(45deg);
    transition: 1s all;
    animation: bell infinite 1s linear alternate;
    width: 30px;
}
@keyframes bell{
    0%{
        transform:rotate(45deg);
    }
    10%{
        transform:rotate(65deg);
    }
    25%{
        transform:rotate(25deg);
    }
    50%{
        transform:rotate(45deg);
    }
    75%{
        transform:rotate(25deg);
    }
    90%{
        transform:rotate(65deg);
    }
    100%{
        transform:rotate(45deg);
    }
}
.pulse {
    animation: pulse infinite 1.5s;
}
@keyframes pulse{
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
    
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.pulse-text {
    animation: pulse-text infinite 1.5s;
}
@keyframes pulse-text{
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
    
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.pulse-icon {
    animation: pulse-icon infinite 1.5s;
}
@keyframes pulse-icon{
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
    
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.days-hipodromos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-top: 0.5rem;
    position: relative;
}
.days-hipodromos-d{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}
.progress-days {
    position: absolute;
    width: 100%;
    z-index: 1;
    border: 1px solid var(--color-red);
    background: gainsboro;
}
.days-text{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.4rem 0.5rem;
}
.radio-days{
    z-index: 2;
    width: 25%;
    opacity: 0;
}
.days-p{
    width: 25%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 14px;
}
.p-bold-day{
    font-size: 14px!important;
    font-weight: bold;
}
.progress-home{
    background: #fe0000;
    position: relative;
}
.progress-home::after {
    content: "";
    background-color: white;
    border: 1px solid #fe0000;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -5px;
    z-index: 1;
}
.country-aco {
    background: linear-gradient(to bottom, #e2e2e2, #dadada, #b4b4b4);
    color: black;
    border: 1px solid #b4b4b4;
    border-radius: 10px!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 0;
    padding: .4rem 1.25rem;
}

.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-25{
    width: 25%;
    padding: 0 0.5rem;
}
.w-70{
    width: 70%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-50{
    width: 50%;
}


.list-hipodro {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    background: #f2f2f2;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 0.45rem;
    margin: 0;
    background: linear-gradient(to bottom, #e2e2e2, #dadada, #b4b4b4);
}
.list-hipodro li:nth-child(1) {
    width:25%;
    text-align: center;
    border-right: 1px solid #999999;
}
.list-hipodro li:nth-child(2) {
    width:50%;
    text-align: center;
    border-right: 1px solid #999999;
}
.list-hipodro li:nth-child(3) {
    width:25%;
    text-align: center;
}

.list-hipodro-div {
    width: 100%;
    background: #f2f2f2;
    padding: 0.5rem 0.45rem;
    margin: 0;
    border: 1px solid #767676;
    border-top: none;
    overflow: hidden;
    overflow-y: scroll;
    height: 25vh;
}
.list-hipodro-div a{
   color:black;
   text-decoration: none;
}
.list-hipodro-home{
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    background: #f2f2f2;
    padding: 0.5rem 0rem;
    margin: 5px 0;
    border-bottom: 1px solid #cacaca;
}
.list-hipodro-home li:nth-child(1) {
    width:25%;
    text-align: center;
    border-right: 1px solid #999999;
    font-weight: bold;
    font-size: 14px;
}
.list-hipodro-home li:nth-child(2) {
    width: 50%;
    text-align: justify;
    border-right: 1px solid #999999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1rem;
}
.list-hipodro-home li:nth-child(3) {
    width:25%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.list-hipodro-home.active{
    background: #ff0808;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.card-body {
    padding: 0.5rem;
}
.border-hipo {
    border: 1px solid var(--color-red);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    height: 14vh;
    overflow: hidden;
    overflow-y: scroll;
}
.border-hipo-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5px;
}
.border-hipo-p {
    margin: 0;
    font-weight: 800;
    font-size: 14px;
    color: #2a2ab7;
}
.border-hipo-p-2 {
    margin: 0;
    font-weight: 800;
    font-size: 14px;
    color: var(--color-red);
}
.border-hipo-sp{
    margin:0;
    font-weight: bold;
    font-size: 1rem;
    color:black;
    display: block;
}
.border-hipo-sp2{
    margin:0;
    font-size: 12px;
    color:black;
    display: block;
    font-weight: bold;
}
.hr-hipo{
    margin: 0.5rem 0;
    border: 1px solid #585858;
}
.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.list-apuesta {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    background: #f2f2f2;
    box-shadow: inset 0px 0px 10px #b9b9b9;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2rem 0rem;
    margin-bottom: 0!important;
    font-size: 14px;
    font-weight: bold;
}
.list-apuesta li:nth-child(1) {
    width:10%;
    text-align: center;
    border-right: 1px solid #999999;
}
.list-apuesta li:nth-child(2) {
    width:35%;
    text-align: center;
    border-right: 1px solid #999999;
}
.list-apuesta li:nth-child(3) {
    width:20%;
    text-align: center;
    border-right: 1px solid #999999;
}
.list-apuesta li:nth-child(4) {
    width:20%;
    text-align: center;
    border-right: 1px solid #999999;
}
.list-apuesta li:nth-child(5) {
    width:15%;
    text-align: center;
}

.list-apuestas-div {
    width: 100%;
    background: #f2f2f2;
    padding: 0.5rem 0.45rem;
    margin: 0;
    border: 1px solid #767676;
    border-top: none;
    height: 28.6vh;
    overflow: hidden;
    overflow-y: scroll;
    font-weight: bold;
    font-size: 14px;
}
.list-apuesta-ul {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    background: #f2f2f2;
    padding:0.1rem 0;
    margin: 5px 0;
    border-bottom: 1px solid #cacaca;
}
.list-apuesta-ul li:nth-child(1) {
    width:10%;
    text-align: center;
}
.list-apuesta-ul li:nth-child(2) {
    width: 35%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-apuesta-ul li:nth-child(3) {
    width:20%;
    text-align: center;
}
.list-apuesta-ul li:nth-child(4) {
    width:20%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list-apuesta-ul li:nth-child(5) {
    width:15%;
    text-align: center;
}
.total-apuestas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.moda-p-total {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4e4e4e;
    font-size: 1rem;
}
.video-iframe{
    background: black;
    height: 25vh;
    text-align: center;
    padding:0.5rem;
}
.video-iframe img{
    height: 100%;
}
.tabla-apuestas-div{
    background: gainsboro;
    border-radius: 10px;
    margin-top: 5px;
}
.talon-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #e9ecef;
}
.talon-header img{
    width: 8%;
}
.talon-header span{
    width: 87%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
.talon-header i{
    color:var(--color-red);
    cursor:pointer;
    width: 5%;
}
.btn-apuesta{
    padding: 0.1rem 0.5rem;
    color: #fff;
    background-color: var(--color-red);
    border-color: var(--color-red);
}
.color-bg{
    background: #efefef;
    padding-top: 5px;
    padding-bottom: 5px;
}
.event-p{
    font-weight: 900;
    font-size: 12px;
    display: block;
    margin: 0;
}

.event-colm-p {
    font-size: 1rem;
    font-weight: bold;
    color: #2a2ab7;
    margin-bottom: 0;
}
.event-colm-p2{
    font-size: 14px;
    margin-bottom: 0;
    color: var(--color-red);
    font-weight: bold;
}
.event-colm-span{
    color:#000;
    margin-bottom: 0;
    font-weight: bold;
}
.event-w-35{
    padding: 0 1rem;
    text-align: justify;
    width: 35%;
}
.event-w-40 {
    width: 40%!important;
    text-align: left;
}
.event-carrera-p{
    position: relative;
    margin-bottom: .5rem!important;
}
/* .event-carrera-p::after{
    content: "";
    border-bottom: 2px solid var(--color-red);
    position: absolute;
    top: -1px;
    right: 6px;
    height: 0;
    width: 20px;
}
.event-carrera-p::before{
    content: "";
    border-bottom: 2px solid var(--color-red);
    position: absolute;
    bottom: -1px;
    left: -6px;
    height: 0;
    width: 20px;
} */
.event-carrera{
    border-radius: 10px;
    border: 2px solid var(--color-red);
    padding: 0.2rem 0.3rem;
    font-size: 14px;
    font-weight: bold;
}

.event-carrera-btn {
    background: var(--color-red) ;
    border: 1px solid var(--color-red);
    border-radius: 2px;
    padding: 0.1rem;
    color: white;
    box-shadow: inset 0px -2px 5px -1px #404040;
    width: 30px;
    height: 30px;
    margin: 2px;
    cursor:pointer;
}
.event-carrera-btn.active {
    background: #585858;
    border: 1px solid #585858;
}
.event-carrera-btn:focus{
    outline: none!important;
}
.type-bets{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background:#585858;
    flex-wrap: unset;
}
.type-bets-btn{
    background: transparent;
    color: white;
    border: 0;
    width: 100%;
    cursor:pointer;
}
.type-bets-btn.active{
    background: var(--color-red);
    
}
.type-bets-btn:focus{
    outline: none!important;
}

.scroll-race{
    overflow: hidden;
    overflow-y: scroll;
    height: 53vh;
}
.list-hipodro-race1 {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    background: #f2f2f2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.list-hipodro-race1 li:nth-child(1) {
    width:10%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race1 li:nth-child(2) {
    width:30%;
    text-align: justify;
    border-right: 2px solid #000;
    padding-left: 1rem;
}
.list-hipodro-race1 li:nth-child(3) {
    width:12%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race1 li:nth-child(4) {
    width:12%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race1 li:nth-child(5) {
    width:12%;
    text-align: center;
}
.list-hipodro-race1 li:nth-child(6) {
    width:12%;
    text-align: center;
}
.list-hipodro-race1 li:nth-child(7) {
    width:12%;
    text-align: center; 
}

.list-hipodro-race2 {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    background: #f2f2f2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.list-hipodro-race2 li:nth-child(1) {
    width:10%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race2 li:nth-child(2) {
    width:42%;
    text-align: justify;
    border-right: 2px solid #000;
    padding-left: 1rem;
}
.list-hipodro-race2 li:nth-child(3) {
    width:12%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race2 li:nth-child(4) {
    width:12%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race2 li:nth-child(5) {
    width:12%;
    text-align: center;
}
.list-hipodro-race2 li:nth-child(6) {
    width:12%;
    text-align: center;
}

.list-hipodro-race3 {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    background: #f2f2f2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.list-hipodro-race3 li:nth-child(1) {
    width:10%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race3 li:nth-child(2) {
    width:30%;
    text-align: justify;
    border-right: 2px solid #000;
    padding-left: 1rem;
}
.list-hipodro-race3 li:nth-child(3) {
    width:10%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race3 li:nth-child(4) {
    width:10%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race3 li:nth-child(5) {
    width:10%;
    text-align: center;
}
.list-hipodro-race3 li:nth-child(6) {
    width:10%;
    text-align: center;
}
.list-hipodro-race3 li:nth-child(7) {
    width:10%;
    text-align: center;
}
.list-hipodro-race3 li:nth-child(8) {
    width:10%;
    text-align: center;
}

.list-hipodro-race4 {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    background: #f2f2f2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.list-hipodro-race4 li:nth-child(1) {
    width:15%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race4 li:nth-child(2) {
    width:40%;
    text-align: justify;
    border-right: 2px solid #000;
    padding-left: 1rem;
}
.list-hipodro-race4 li:nth-child(3) {
    width:15%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race4 li:nth-child(4) {
    width:15%;
    text-align: center;
    border-right: 2px solid #000;
}
.list-hipodro-race4 li:nth-child(5) {
    width:15%;
    text-align: center;
}

.list-hipodro-ul1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #f2f2f2;
    padding: 0.5rem 0rem;
    margin: 5px 0;
    border-bottom: 1px solid #cacaca;
}
.list-hipodro-ul1 li:nth-child(1) {
    width:10%;
    text-align: center;
    position: relative;
}
.list-hipodro-ul1 li:nth-child(2) {
    width: 30%;
    text-align: start;
    padding-left: 1rem;
}
.list-hipodro-ul1 li:nth-child(3) {
    width:12%;
    text-align: center;
}
.list-hipodro-ul1 li:nth-child(4) {
    width:12%;
    text-align: center;
}
.list-hipodro-ul1 li:nth-child(5) {
    width:12%;
    text-align: center;
}
.list-hipodro-ul1 li:nth-child(6) {
    width:12%;
    text-align: center;
}
.list-hipodro-ul1 li:nth-child(7) {
    width:12%;
    text-align: center;
}

.list-hipodro-ul2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #f2f2f2;
    padding: 0.5rem 0rem;
    margin: 5px 0;
    border-bottom: 1px solid #cacaca;
}
.list-hipodro-ul2 li:nth-child(1) {
    width:10%;
    text-align: center;
    position: relative;
}
.list-hipodro-ul2 li:nth-child(2) {
    width: 42%;
    text-align: start;
    padding-left: 1rem;
}
.list-hipodro-ul2 li:nth-child(3) {
    width:12%;
    text-align: center;
}
.list-hipodro-ul2 li:nth-child(4) {
    width:12%;
    text-align: center;
}
.list-hipodro-ul2 li:nth-child(5) {
    width:12%;
    text-align: center;
}
.list-hipodro-ul2 li:nth-child(6) {
    width:12%;
    text-align: center;
}

.list-hipodro-ul3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #f2f2f2;
    padding: 0.5rem 0rem;
    margin: 5px 0;
    border-bottom: 1px solid #cacaca;
}
.list-hipodro-ul3 li:nth-child(1) {
    width:10%;
    text-align: center;
    position: relative;
}
.list-hipodro-ul3 li:nth-child(2) {
    width: 30%;
    text-align: start;
    padding-left: 1rem;
}
.list-hipodro-ul3 li:nth-child(3) {
    width:10%;
    text-align: center;
}
.list-hipodro-ul3 li:nth-child(4) {
    width:10%;
    text-align: center;
}
.list-hipodro-ul3 li:nth-child(5) {
    width:10%;
    text-align: center;
}
.list-hipodro-ul3 li:nth-child(6) {
    width:10%;
    text-align: center;
}
.list-hipodro-ul3 li:nth-child(7) {
    width:10%;
    text-align: center;
}
.list-hipodro-ul3 li:nth-child(8) {
    width:10%;
    text-align: center;
}

.list-hipodro-ul4 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #f2f2f2;
    padding: 0.5rem 0rem;
    margin: 5px 0;
    border-bottom: 1px solid #cacaca;
}
.list-hipodro-ul4 li:nth-child(1) {
    width:15%;
    text-align: center;
    position: relative;
}
.list-hipodro-ul4 li:nth-child(2) {
    width: 40%;
    text-align: start;
    padding-left: 1rem;
}
.list-hipodro-ul4 li:nth-child(3) {
    width:15%;
    text-align: center;
}
.list-hipodro-ul4 li:nth-child(4) {
    width:15%;
    text-align: center;
}
.list-hipodro-ul4 li:nth-child(5) {
    width:15%;
    text-align: center;
}

/* .form-control {
    color: #fff!important;
    background-color: #242424!important;
    border: 1px solid #4a4a4a!important;
} */

/* .form-control.active-input{
    background: var(--color-red);
    color: white;
} */

.check-box-list{
    width: 3.5vh;
    height: 3.5vh;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    border: 1px solid #585858;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}
.check-box-list:active, .check-box-list:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.check-box-list:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.list-retirado {
    width: 36%!important;
    text-align: center;
}
.list-hipodro-ul2 .list-retirado {
    width: 24%!important;
    text-align: center;
}
.list-hipodro-ul3 .list-retirado {
    width: 40%!important;
    text-align: center;
}

.list-hipodro-ul4 .list-retirado {
    width: 45%!important;
    text-align: center;
}

.check-box-list:checked:after {
	content: '\2714';
	font-size: 1.4rem;
	position: absolute;
	top: 0px;
	left: 7px;
	color: #218838;
}
.nav-pills .nav-link{
    margin-top: 5px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: var(--color-red);
}

.svg-shield{
    width: 55px;
    height: 35px;
}
.race-num {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 0.3rem;
    vertical-align: middle;
    position: absolute;
    top: 0;
    font-weight: bold;
    font-size: 1rem;
    color:white;
}

.race-grid-text1 {
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin:0;
}
.race-grid-text2 {
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.r-bg1{
    fill:#bb0500;
    color: white;
}
.r-bg2{
    fill:#bfccd4;
    color: white;
}
.r-bg3{
    fill:#1e3b7d;
    color: white;
}
.r-bg4{
    fill:#bbaa00;
    color: black;
}
.r-bg5{
    fill:#1b5c24;
    color: white;
}
.r-bg6{
    fill:#25261e;
    color: white;
}
.r-bg7{
    fill:#b23e0d;
    color: white;
}
.r-bg8{
    fill:#b07591;
    color: white;
}
.r-bg9{
    fill:#10a19a;
    color: white;
}
.r-bg10{
    fill:#6811a0;
    color: white;
}
.r-bg11{
    fill:#6f696d;
    color: white;
}
.r-bg12{
    fill:#389f46;
    color: white;
}
.r-bg13{
    fill:#47372a;
    color: white;
}
.r-bg14{
    fill:#77002e;
    color: white;
}
.r-bg15{
    fill:#6e5328;
    color: white;
}
.r-bg16{
    fill:#10a19a;
    color: white;
}
.r-bg17{
    fill:#FF9800;
    color: black;
}
.r-bg18{
    fill:#673AB7;
    color: white;
}


/* historial de pagos y movimientos ................................................ */

.payment-div{
    border: 1px solid black;
    height: 35vh;
    overflow: hidden;
    overflow-y: scroll;
}
.payment-grid{
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    border: 1px solid black;
}
.payment-tem1{
    grid-row: 1/5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-tem2{
    grid-row: 1/3;
    text-align: center;
    margin-top: 5px;
}
.payment-tem3{
    grid-row: 3/5;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pay-text{
    display:block;
    font-weight: bold;
    font-size: 14px;
}
.pay-text2{
    display: block;
    font-size: 12px;
    font-weight: 900;
}
.pay-text0{
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    color: white;
    background: var(--color-red);
}
.pay-btn{
    padding: .375rem .55rem;
    font-size: 12px;
}

/* mybets .......................................................................... */

.mybets-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.mybets-grid {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    border: 1px solid black;
}
.mybets-tem2 {
    grid-row: 1/3;
    text-align: center;
    padding-top: 5px;
    border-bottom: 1px solid #ced4da;
}
.mybets-tem3 {
    grid-row: 3/5;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ced4da;
}
.mybets-tem4 {
    grid-row: 5/7;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}
.cancelado{
    border: 1px solid var(--color-red);
    color: white;
    background: var(--color-red);
    padding: 0.3rem;
    border-radius: 5px;
}
.espera{
    border: 1px solid #ffc107;
    color: #212529;
    background: #ffc107;
    padding: 0.3rem;
    border-radius: 5px;
}
.realizado{
    border: 1px solid green;
    color: white;
    background: green;
    padding: 0.3rem;
    border-radius: 5px;
}
.devolucion {
    border: 1px solid #5a9bd5;
    color: white;
    background: #5a9bd5;
    padding: 0.3rem;
    border-radius: 5px;
}
.bet-text{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
/* promociones .....................................................................*/

.bg-promo{
    padding: 1rem;
    border-radius: 10px;
    background: #dedede;
}
.nav-promo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.d-flex-promo{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.promo-div-nav{
    background: #efefef;
    padding: 0.2rem 3rem 0.2rem 0.5rem;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
    text-transform: lowercase;
}
.promo-div-nav-all{
    background: #efefef;
    padding: 0.2rem 3rem 0.2rem 0.5rem;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
}
.promo-div-nav.active{
    box-shadow: inset 0px -8px 9px -8px #565656, inset 0px 4px 10px -7px black;
    background: #efefef;
    color: #585858;
}
.filter{
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1rem;
}
.ul-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.ul-filter li{
    width: 25%;
}
.bono-div {
    width: 95%;
    height: 240px;
    position: relative;
    margin: 0 auto;
    margin-top: 1rem;
    cursor:pointer;
    transition: 0.2s all;
}
.bono-div:hover {
    transform: scale(1.05);
}
.bono1{
    background: url(../images/bono1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bono2{
    background: url(../images/bono2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bono3{
    background: url(../images/bono3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bono4{
    background: url(../images/bono4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bono-p-1{
    margin: 0;
    color: white;
    background: #00000080;
    padding-left: 10px;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.bono-p-2{
    margin: 0;
    color: white;
    background: #00000080;
    padding-left: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

/* casino .......................................................................... */

.casino-bg{
    background: url("../images/casino/fondo-casino.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
}
.sliders-bg{
    width: 100%;
    position: relative;
}
.jackpot-bg {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 98%;
    z-index: 1;
    background: #242424;
}
.jackpot-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
    background: #242424;
    position: relative;
}

.search-casino{
    margin: 0 5px;
    width: 25%;
}
.jackpot-div .dropdown-toggle::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    right: 10px;
    top: 17px;
}
.jackpot-list-2 .dropdown-item , .drop-casino2 .dropdown-item{
    padding: 0.5rem 1.5rem;
}
.jackpot-list-2 .dropdown-item:hover ,.drop-casino2 .dropdown-item:hover {
    color: #16181b;
    background: linear-gradient(to bottom,#dc3545, #ff0000, #dc3545);
    color: white!important;
}
.jackpot-list-2 {
    width: 25%;
    margin: 0 5px;
    line-height: 2;
    background: linear-gradient(180deg,#4a4a4a,#313131);;
    color: white;
    border-radius: 5px!important;
    padding: 0.25rem 0;
    text-align: justify;
    padding-left: 1rem;
    font-weight: bold;
    position: relative;
}
.jackpot-list-2 a ,.drop-casino2 a{
    color:#fff!important;
    text-decoration: none;
    display:block;
    font-weight: bold;
}
.jackpot-list-2 a:hover , .drop-casino2 a:hover{
    color:#fff;
    text-decoration: none;
}
.j-p-title{
    font-weight: bold;
    font-size: 1.2rem;
    margin-right:5px ;
}
.j-p-sub {
    display: block;
    font-size: 1.2rem;
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
}
.jackpot-list img{
    width: 120px;
}
.d-flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.d-flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.drop-casino{
    left: -5%!important;
    width: 100%;
    background: linear-gradient(180deg,#4a4a4a,#313131);
}
.dropdown-divider {
    height: 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid #242424;
}
.body-casino {
    padding-top: 3rem;
    width: 100%;
    margin: 0 auto;
}
.icon-heart{
    position: absolute;
    right: 10px;
    top: 12px;
}
.game-lg {
    margin: 5px;
    border-radius: 10px;
    height: 51.1vh;
}
.game-sm {
    margin: 0px;
    border-radius: 10px;
    height: 25vh;
}

.game_inner:hover {
    transition: .3s;
}
.game_inner {
    display: block;
    position: relative;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-top: 0;
}
.game_inner:hover .game_overlay {
    display: block;
}
.game_inner:hover .fav_holder {
    display: block;
}
.game_inner .fav_holder {
    top: 8px;
    right: 8px;
    display: block;
    position: absolute;
    -webkit-animation: fadeInDown .5s;
    animation: fadeInDown .5s;
    display: none;
    z-index: 3;
}

.game_inner .game_overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background: rgba(39,42,49,.75);
    -webkit-animation: fadeIn .33s;
    animation: fadeIn .33s;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}
@keyframes fadeInDown{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    
}
.game .provider_icon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 2px 0;
    background: -webkit-linear-gradient(rgba(0,0,0,.18),rgba(0,0,0,.72));
    background: -o-linear-gradient(rgba(0,0,0,.18) 0,rgba(0,0,0,.72) 100%);
    background: linear-gradient(rgba(0,0,0,.18),rgba(0,0,0,.72));
    border-radius: 0 0 8px 8px;
}

.like-game {
    background: #625955;
    color: #ad0082;
    font-size: 1.4rem;
    border-radius: 50px 50px 10px 10px;
    text-align: center;
    padding: 0.2rem;
    cursor: pointer;
}
.like-game .fa-heart{
    background: #1b1b1b7a;
    border-radius: 50%;
    padding: 5px;
}
.span-casino{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.like-game:hover i{
    transform: scale(1.2);
    transition: 0.3s all;
}
.like-game:hover i{
    transform: scale(1.2);
    transition: 0.3s all;
}

.game_title .img-game{
    width: 50%;
}
.game-p{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    width: 50%;
}
.f-1{
    font-size: 1rem!important;
}
.title-casino {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
}
.banner_section {
    margin-top: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.banner_section .wrapper {
    position: relative;
}
.banner_section .custom_banner_bg {
    width: 100%;
    max-height: 75%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 0;
}
.banner_section .container-fluid {
    max-width: 1560px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
}
.banner_section .banner_content {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    float: left;
    margin-top: -38px;
}
.banner_section .img_container {
    text-align: center;
    margin-top: 5px;
}
.banner_section .element {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.banner_section .text_container {
    position: relative;
    display: block;
}
.banner_section .title {
    color: #fff;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.main_section .title {
    color: #333743;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
}
.banner_section .text_yellow {
    color: #ff9c00;
    margin-bottom: 0;
    font-size: 18px;
}
@keyframes fadeInLeft{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.banner_section .btn_holder {
    background: 0 0;
    margin-top: 10%;
    width: auto;
}
.main_section .btn_holder {
    text-align: center;
    margin: 0 auto;
    background: #f3f3f3;
}
.main_section .btn_holder{
    width: 100%;
    display: block;
    position: relative;
    float: left;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.banner_section .cta_btn {
    background: -webkit-linear-gradient(top left,#ff5d3c 0,#ff8929);
    background: -o-linear-gradient(top left,#ff5d3c 0,#ff8929 100%);
    background: linear-gradient(to bottom right,#ff5d3c 0,#ff8929);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    padding: 15px 30px;
    border-radius: 32px;
    cursor: pointer;
}
.toggle-button-cover {
    display: flex;
    position: relative;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.button-cover
{
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 0%;
    width: 65px;
    height: 30px;
    overflow: hidden;
}

.button.r, .button.r .layer{
    border-radius: 100px;
}
.checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs{
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #242424;
    transition: 0.3s ease all;
    z-index: 1;
}

.label-site{
    padding: 0 1rem;
    margin: 0;
    font-weight: 900;
    font-size: 12px;
}
/* Button 1 */
#button-1 .knobs:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #c0241b;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: '';
    left: 55%;
    background-color: #c0241b;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color: #fff;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}

.jackpot-list-3{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.3rem .2rem;
    cursor: pointer;
    width: 33.33333%;
}
.filter-icons.active {
    background: #fff;
    border-radius: 5px;
    border: 1px solid var(--color-red);
    transition: 1s all;
}
.filter-small{
    /* font-weight: bold; */
    margin-top: 3px;
}
.filter-icons.active .filter-small{
    font-weight: bold;
}
.btn-secondary{
    color: #fff;
    background-color:var(--color-red)!important;
    border-color: var(--color-red)!important;
}
.mostrar-div {
    width: 100%;
    grid-column: 1/8;
    text-align: center;
    position: absolute;
    bottom: -4vh;
    z-index: 1;
}
.btn-mostrar{
    background: white;
    padding: 0.5rem 2rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    width: 12rem;
}
.my-iflame{
    flex: 1 1 0%;
    width: 100%;
    height: 85vh;
}
#games-single{
    display:none;
}
/* footer .......................................................................... */

.footer-div{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.whatsapp-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 3%;
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp-icon a {
    color: white;
    text-transform: none;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
.term-p{
    margin-bottom: 0.5rem;
    font-weight: 900;
    font-size: 12px;
    border-right: 1px solid black;
    padding: 0 .5rem; 
    color: black!important;
}
.br-0{
    border-right: 0;
}

/* modals .......................................................................... */

.moda-p {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4e4e4e!important;
    text-decoration: none!important;
    margin:0;
}
.modal-salir{
    color: #c90e00!important;
    font-weight: bold;
    text-decoration: none;
}
.modal-money{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.modal-text {
    display: flex;
    justify-content: end;
    align-items: center;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.w-80{
    width: 80%;
}

.modal-header-title{
    background: #3d3d3d;
    color: white;
    text-transform: uppercase;
    position: relative;
}
.title-pay{
    font-size: 2rem;
    font-weight: bold;
}
.text-payment{
    font-size: 1.2rem;
    font-weight: bold;
}
.borderes{
    border-left:1px solid #dee2e6;
    border-right:1px solid #dee2e6;
}
.table-result tr th span {
    padding: .4rem .6rem;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    display: block;
}   
.table-result tr td{
    vertical-align: middle!important;
}
.table td, .table th {
    padding: .35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
    position: relative;
}
.race-num2 {
    width: 93%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 18%;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
}

.result-acor {
    background: #ed3234;
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid #ed3234;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: inset 0px -2px 5px -1px #404040;
    color: white;
    cursor: pointer;
}
.result-acor.active {
    background: #585858;
    border: 1px solid #585858;
}
.result-bg{
    background: #4c4b4b;
    padding: 0.6rem;
    text-align: center;
    color: white;
}
.result-p{
    color: black;
    font-weight: bold;
    margin: 0;
}
.result-hr{
    background: white;
    margin: 0.5rem 0;
}
.resul-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../images/banner-re.png)no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0.32rem 1rem;
}
.resul-w-5{
    height: 100%;
    text-align: center;
    width: 5%;
}
.cube-resul {
    font-size: 2rem;
    margin-top: 0.5rem;
    background: var(--color-red);
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid var(--color-red);
    display: block;
    text-align: center;
    box-shadow: 0px 2px 2px 0px #404040;
    color: white;
    font-weight: bold;
}
.resul-w-45{
    width: 45%;
    padding: 0.35rem 1rem;
    padding-right: 0;
}
.resul-carrera{
    width: 25%;
    text-align: center;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 5px red;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10px;
    line-height: 1.3;
}
.resul-w-30{
    width: 30%;
    padding: 0.35rem 1rem;
    padding-right: 0;
}
.resul-horario {
    border-left: 10px solid var(--color-red);
    background: #585858;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
    line-height: 1.8;
    margin-top: 3px;
}
.resul-horario span{
    color:var(--color-red);
    font-weight: bold;
}

.resul-banner{
    background: red;
    padding-left: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 3px black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2;
}

.th-bor{
    border: 1px solid black!important;
    border-width: 1px 0px 1px 0px!important;
}
.name-pro {
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    background: #101622;
    margin-top: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-pro {
    background: #f4141d;
    border-radius: 0;
    border: none !important;
    color: white;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}
.cell-p {
    padding: 0 !important;
    margin-bottom: 10px;
}
.img-pro{
    height: 120px;
}
.title-m{
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
}
.d-flex-programas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagos-img {
    padding: 1rem;
    text-align: center;
    border: 1px solid #e9ecef;
}
.pagos-img.active {
    border: 1px solid #fe0000;
}
.pagos-img img{
    height: 21px;
}
.pagos-bg {
    background: white;
    box-shadow: 0px 1px 4px -2px black;
}
.pagos-cant {
    padding: 1rem 5px;
    text-align: center;
}
.pagos-cant.active {
    background-color: #fe0000;
    color: white;
}
.hr-pagos {
    margin: 0px 0px 10px 0;
    border: 0;
    border-top: 1px solid rgb(222, 223, 225);
}
.cantidad-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.pagos-datos {
    padding: 0.5rem 1rem;
    text-align: justify;
    overflow: hidden;
    border-bottom: 1px solid rgb(222, 223, 225);
}
.pagos-datos p {
    font-weight: bold;
    margin-bottom: 0;
}
.tutorial-bg{
    font-size: 1.8rem;
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.tutorial-bg:hover::before{
    content: "¿Como hacer un deposito?";
    background: #fffff3;
    font-size: 1rem;
    text-transform: initial;
    position: absolute;
    right: -230px;
    width: 210px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.35rem;
}
.tutorial-bg:hover::after {
    content: "";
    background: transparent;
    border-right: 12px solid #fffff3;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    right: -21px;
}
.tablafire {
    list-style: none;
    text-align: justify;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0;
}
.tablafire li{
    padding: 0.35rem;
}
.popup-ph{
    background: url(../images/tablero.png)no-repeat center !important;
}
.popup-ph .swal2-header{
    opacity: 0;
}
.popup-ph .swal2-actions{
    margin: 2em auto 0;
}

.scroll-provee{
    max-height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
}
.nav-color{
    width: 100%;
    color: #d5d5d5!important;
    font-weight: bold;
    position: relative;
    font-size: 14px;
}
.drop-color {
    background: linear-gradient(rgb(74, 74, 74), rgb(49, 49, 49));
    width: 100%;
    top: 90%;
}
.drop-color .dropdown-item:hover{
    color: #16181b;
    background: linear-gradient(to bottom,#dc3545, #ff0000, #dc3545);
    color: white!important;
}
.drop-color a {
    color: #fff;
    text-decoration: none;
}
.mouseenter .drop-color{
    display: block;
}
.drop-casino2 {
    left: 0%!important;
    width: 100%;
    background: linear-gradient(180deg,#4a4a4a,#313131);
    color: white;
}
.name-casino{
    margin:0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.col-item{
    float:left;
    /* width:16.5%; */
    position: relative;
    background-color: #828282;
    border: 1px solid black;
}
.col-item.lg{
    /* width:33%; */
    grid-column: span 2;
    grid-row: span 2;
}
span.mobile-demo {
    position: absolute;
    background: red;
    width: 100px;
    text-align: center;
    right:5px;
    top:3px;
    color:white;
    font-size:10px;
    font-weight: bold;
    border-radius: 5px;
}
#game-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 0 0;
    align-items: stretch;
    justify-items: stretch;
    position: relative;
}
.new-text-div {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.new-text-div p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
    padding: 0.5rem;
}
.title-game{
    color: #d5d5d5;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}
.effect-padd2 {
    padding: 5px!important;
    padding-top: 0;
    margin-top: 5px;
    background: transparent;
    overflow: hidden;
}
.effect-padd {
    padding-top: 0;
    background: #242424;
    overflow: hidden;
    border: 3px solid #242424;
    border-top: 1px solid #414141;
}
.effect-padd:hover {
    background: #d02120;
    border: 3px solid #d02120;
    border-top: 1px solid #242424;
    transition: 0.5s all;
}
.effect-padd:hover .slot-new{
    background: #242424;
    transition: 0.5s all;
}
.effect-padd:hover .title-game{
    color: white;
    transition: 0.5s all;
}
.slot-new{
    background: red;
    padding: 0.2rem;
    font-weight: bold;
    color: white;
    width: 30%;
    text-align: center;
    position: absolute;
    right: -25px;
    top: 5px;
    transform: rotateZ(45deg);
}

.effect-padd:hover .my-effect::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: white;
    animation: shiny-btn1 2s ease-in-out infinite;
}
@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
@keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap h1 {
    font-size: 200px;
    color: white;
    text-align: center;
    margin-bottom: 1px;
    text-shadow: 1px 1px 6px #fff;
}
.wrap p {
    color: rgb(228, 146, 162);
    font-size: 20px;
    margin-top: 1px;
    text-align: center;
}

.casino-bg-404 {
    background: url(../images/casino/fondo-casino.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

/* preloader ........................................................................... */

#ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #242424;
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000; }
  
  #ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  #ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1; }
  
  #ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  
  #ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round; }
  
  @-webkit-keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @-webkit-keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  
  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }

::-webkit-scrollbar {
    width: 5px;
    /* border: 1px solid #9E9E9E; */
    border-radius: 5px;
}
    /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.espere-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-20-timeline .progress {
    width: 30px;
    height: 30px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.w-20-timeline .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #28a745;
    position: absolute;
    top: 0;
    left: 0;
}
.w-20-timeline .progress.mid:after {
    border-color: #ffb80c;
}
.w-20-timeline .progress.low:after {
    border-color: #de3232;
}
.w-20-timeline .progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.w-20-timeline .progress .progress-left {
    left: 0;
}
.w-20-timeline .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #000;
}
.w-20-timeline .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.w-20-timeline .progress .progress-right {
    right: 0;   
}
.w-20-timeline .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
.w-20-timeline .progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
}
.w-20-timeline .progress .progress-value div {
    margin-top: 10px;
}
.w-20-timeline .progress .progress-value span {
    font-size: 12px;
    text-transform: uppercase;
}
  
  /* This for loop creates the 	necessary css animation names 
  Due to the split circle of progress-left and progress right, we must use the animations on each side. 
  */

.w-20-timeline .progress[data-percentage="25"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
}
.w-20-timeline .progress[data-percentage="25"] .progress-left .progress-bar {
    animation: 0;
}
  
.w-20-timeline .progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.w-20-timeline .progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}
.w-20-timeline .progress[data-percentage="75"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.w-20-timeline .progress[data-percentage="75"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}
  
.w-20-timeline .progress[data-percentage="85"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.w-20-timeline .progress[data-percentage="85"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
}
  
.w-20-timeline .progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.w-20-timeline .progress[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
}
  
@keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36);
      transform: rotate(36deg);
    }
  }
@keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90);
      transform: rotate(90deg);
    }
  }
@keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(135);
      transform: rotate(135deg);
    }
  }
@keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144);
      transform: rotate(144deg);
    }
  }
@keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180);
      transform: rotate(180deg);
    }
  }

@media only screen and (max-width: 1920px) and (min-height: 900px) {
    .user-wi1 ,.user-saldo,.border-hipo-sp2,.event-colm-p2,.event-carrera,.event-carrera-btn{
        font-size: 1rem; 
    }
    .user-icons span ,.nav-a-user,.user-btn-de,.user-btn{
        font-size: 14px;
    }
    .days-text ,.border-hipo-p,.border-hipo-sp,.event-p,.event-colm-p{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 1370px) {
    .scroll-hipo {
        height: 40vh;
    }
    .scroll-race {
        height: 35.5vh;
    }
    .term-p {
        font-size: 10px;
        padding: 0 .2rem;
    }
    .list-apuestas-div {
        height: 15.6vh;
    }
}
.no-desktop{
    display:flex;
}
@media (max-width: 992px){
    .no-desktop{
        display: flex;
        flex-direction: column;
    }
    #game-list {
        grid-template-columns: repeat(2,1fr);  
    }
}
@media (min-width: 992px){
    .modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 1200px){
    .modal-xl {
        max-width: 1140px;
    }
}

/* cambios en el casino ////////////////////////////////////////////////////////////////////////////// */

.header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #373737;
    padding: 0.5rem 1rem;
    align-items: center;
    height: 81px;
}
.circle-play a{
    color: white!important;
}
.col-item.sm .circle-play{
    font-size: 1rem;
}
.game_title {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 2px 0;
    background: -webkit-linear-gradient(rgba(0,0,0,.18),rgba(0,0,0,.72));
    background: -o-linear-gradient(rgba(0,0,0,.18) 0,rgba(0,0,0,.72) 100%);
    background: linear-gradient(rgba(0,0,0,.18),rgba(0,0,0,.72));
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    line-height: 2;
    font-weight: bold;
}
.game_title p{
    margin: 0;
}
.game_title img{
    max-width: 155px;
}
.play {
    text-decoration: none;
    outline: none;
    -webkit-animation: fadeInUpSmall .5s;
    animation: fadeInUpSmall .5s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@keyframes fadeInUpSmall{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,10%,0);
        transform: translate3d(0,10%,0);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.game-lg .play a {
    position: absolute;
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
}
.game-sm .play a {
    position: absolute;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
}
.circle-play {
    background: black;
    border: 3px solid;
    border-color: transparent #f70296 transparent #5e4cde;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -moz-animation: g 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: g 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: g 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: g 2.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}
@keyframes g{
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
    }
}
.jackpot-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    background: linear-gradient(180deg,#4a4a4a,#313131);
    margin: 0 5px;
    padding: .1rem 0;
    line-height: 2;
    cursor: pointer;
    color: white;
    position: relative;
}

.jackpot-img{
    position: absolute;
    left: 7%;
}

.modal-slot {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    display: none;
    z-index: -1;
}

.modal-slot.active {
    display: flex;
    transition: 0s all;
    z-index: 1050;
}

.body-slot {
    width: 100%;
    height: 95%;
    margin: 1rem;
}
.btn-programs {
    position: absolute;
    z-index: 2;
    left: 20px;
    border-radius: 50%;
    box-shadow: inset -1px -4px 5px #af2a37;
}
.modal-slot iframe{
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
}